.mybody{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
   

    .formulaires{
        padding: 10px;
        display: flex;
        flex-direction: column;
        height: 90vh;
        margin-left: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        

        button{
            background: #0097E6;
            padding: 10px;
            margin-top: 5px;
            padding: 2px;
        }
    }
    
    .affichage{
    /*    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        */
        .sous_titre{
            display: flex;
            flex-direction: row;
            gap: 40px;

            .filtre{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .tableau{

            table{
                width: 100%;
                border-collapse: collapse;
                margin: 20px 0;

                th, td {
                    padding: 10px;
                    text-align: left;
                    border: 1px solid rgb(43, 41, 41);
                }

                th {
                    background-color: #f5f0f0;
                    color: black;
                    
                }

                tr:nth-child(even) {
                    background-color: #463f3f;
                }
        
                tr:hover {
                    background-color: #da7474;
                }

                .btn_supp{
                    background-color: #f50505;
                    font-size: 12px;
                }
            }
        }
    }
}