*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("img/3.jpg");
}


.myApp{
    display: flex;
    background-color: rgba($color: #070606, $alpha: .2);
    width: 95vw;
    height: 95vh;
    backdrop-filter: blur(19px) saturate(180%);
    margin-top: 20px;

    button{
        background: #0097E6;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 5px;
        cursor: pointer;
        border: none;
        border-radius: 10px;

    }
}